certifi==2020.12.5
chardet==3.0.4
click==8.0.1
colorama==0.4.4
confluent-kafka==1.2.0
dataclasses==0.8
dependency-injector==4.17.0
Django==2.1
elasticsearch==7.10.1
Flask==1.1.2
graypy==2.1.0
idna==2.8
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==0.14.0
MarkupSafe==2.0.1
mysql-connector-python==8.0.22
newrelic==5.24.0.153
numpy==1.17.1
pandas==0.25.1
Pebble==4.4.0
protobuf==3.9.1
pymongo==3.11.2
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
six==1.12.0
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3==1.25.3
Werkzeug==1.0.1
zipp==3.5.0
